.followed_lists {
    background: #f4acb7;
    height: 500px;
    flex: auto;
    float:left; display:inline; width: 58%;
    overflow-y: scroll;
}

.follow {
    text-align: center;
    padding: 5px;
    padding-top: 0%;   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    background-color: white;

}

.list{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
    height: 200px;
    background-color: white;

}

.description {
    font-size: 20px;
}

.list_button{
    margin-top: 80%;
    margin-left: 25%
}

.friends {
    background: #f4acb7;
    height: 500px;
    flex: auto;
    float:right; display:inline; width: 39%;
    overflow-y: scroll;
}

.Friends {
    text-align: center;
    padding: 5px;
    padding-top: 0%;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    background-color: white;

}

.friend {
    margin-top: 10px;
    margin-left: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%
}


.favorite_actors {
    background: #f4acb7;
    height: 250px;
    float:left; display:inline; width: 100%;
    overflow-y: scroll;
}

.fav_actors {
    text-align: center;
    padding: 5px;
    padding-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    background-color: white;
}


.actor {
    margin-top: 10px;
    margin-right: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    position: relative;
    display: inline-block
}


.back
 {
    background-color: #353131;
    color: white;
    padding: 14px 45px;
    text-decoration: none;
    position: relative;
    font-family: sans-serif;
    float: right;
    font-size: 15px;
}

img {
    float:left;
    margin-bottom: 10px;
}


a:hover,
a:active {
    background-color: rgb(225, 209, 209);
}

.friend_button:hover {
    background-color: black;
    color: white;
}

