.followed_lists {
    background: #F5CDCD;
    height: 500px;
    flex: auto;
    float:left; display:inline; width: 58%;
    overflow-y: scroll;
}

.fav_actors,
.Friends,
.follow {
    padding:10px;
    background-color: #B07D7D;
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 7px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%
}

.list{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
    height: 200px;
    background-color: whitesmoke;
    overflow-y: hidden;

}

.description {
    font-size: 20px;
}

.list_button{
    margin-top: 80%;
    margin-left: 25%
}

.friends {
    background: #F5CDCD;
    height: 500px;
    flex: auto;
    float:right; display:inline; width: 39%;
    overflow-y: scroll;
}

.friend {
    padding:10px;
    background-color: #FFE5D9;
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 7px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%
}


.favorite_actors {
    background: #F5CDCD;
    height: 250px;
    float:left; display:inline; width: 100%;
    overflow-y: scroll;
}

.actor {
    margin-top: 10px;
    margin-right: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    position: relative;
    display: inline-block
}


.back
 {
    background-color: #353131;
    color: white;
    padding: 14px 45px;
    margin-bottom: 15px;
    text-decoration: none;
    position: relative;
    font-family: sans-serif;
    float: right;
    font-size: 15px;
}

img {
    float:left;
    margin-bottom: 10px;
    margin-right: 7px;
}

.list_button:hover,
a:hover,
a:active {
    background-color: rgb(225, 209, 209);
}

.list_button,
.friend_button:hover {
    background-color: black;
    color: white;
}

