.friends {
    background: #f4acb7;
    height: 800px;
    margin-left: 5px;
    margin-right: 5px;
}

.lists {
    background: #eee7e8;
    height: 100px;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
    flex: auto;
}

.lists {
    background: #eee7e8;
    height: 100px;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
    flex: auto;
}

.pic{
    background: #f4acb7;
    height: 100px;
    width: 100px;
    float: right;
    margin: 4px 2px;

}
.list{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    width: 350px;
    height: 400px;
    background-color: white;

}

.description {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}


.list_button{
    margin-top: 100%;
    margin-left: 25%
}

a:hover,
a:active {
    background-color: rgb(225, 209, 209);
}
.button2 {
    background-color: #e9c1e3;
    padding: 10px 100px;
    
}
.button5 {
    background-color: #e9c1e3;
    padding: 10px 200px;

}
.button1{
    padding: 10px 100px;
    float: right;
}
.button3{
    padding: 10px 300px;
}
.button4 {
    background-color: #e9c1e3;
    padding: 10px 60px;
    float: right;
   
}
.button6 {
    background-color: #e9c1e3;
    padding: 10px 60px;
    float: right;
   
}

.button {
    border: none;
    color: rgb(23, 21, 21); 
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}